/* The styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 520px;
    margin: 0 auto;
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid #0000FF;
}
h2 {
    color: #0000FF;
    font-size: 140%;
    padding: 0;
    margin-bottom: .5em;
    text-align:center;
}
h1 {
    color: orangered;
    font-size: 140%;
    padding: 0;
    margin-bottom: .5em;
    text-align:center;
}
.boxed{
	border: 3px solid white;
	width: 520px;
}
.cpHead{
    text-align: center;
    color: red;
}
Content2{
    text-align: center;
}
MainContent{
    text-align: center;
}
#header{
    text-align: center;
}

