/* The styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 360px;
    margin: 0 auto;
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid #0000FF;
    
}
h2 {
    color: #0000FF;
    font-size: 140%;
    padding: 0;
    margin-bottom: .5em;
    text-align:center;
}
h1 {
    color: orangered;
    font-size: 140%;
    padding: 0;
    margin-bottom: .5em;
    text-align:center;
}
.boxed{
	border: 3px solid orangered;
	width: 350px;
}
#table1 {
  border: solid thin black;
}

#table1 td {
  border: solid thin white;
}
#table1 th{
  border: solid thick white;
}
#userPrompts{
    
}


